[2018-11-05 19:46] pyup-bot opened #1 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-01-14 10:25] avara1986 opened #34 "Override the __eq__ method."
A class that defines attributes that are not present in its superclasses may need to override the __eq__() method (__ne__() should also be defined).

Adding additional attributes without overriding __eq__() means that the additional attributes will not be accounted for in equality tests.

https://github.com/python-microservices/pyms/blob/5736106bcb1a57597da12adb6d4cd93dca6c5423/pyms/config/confile

[2019-01-22 08:59] avara1986 opened #39 "RestyResolver to automatic routing"
https://github.com/python-microservices/pyms/blob/924f42381be83c6580b5027358f3feb83e2a94b2/pyms/flask/app/__init__.py#L50

add RestyResolver to improve the behavior of connexion library. See official docs:
https://github.com/zalando/connexion#automatic-routing

[2019-01-26 13:07] #34 closed

[2019-11-30 23:09] avara1986 opened #65 "Support for CORS"
Create a service like metrics or requests to support `flask_cors` https://flask-cors.readthedocs.io/en/latest/

[2019-11-30 23:10] avara1986 opened #66 "JWT support"
Create a service to support JWT like https://github.com/python-microservices/oauth

[2019-11-30 23:13] avara1986 opened #67 "Minify dependencies"
PyMS install all dependencies of the service: Connexion, requests, prometheus, jaegger... But, if you don´t need any of the service, not install by default, for example

pip install py-ms[requests]

pip install py-ms[jaegger]

[2019-12-01 12:01] avara1986 opened #68 "Flask Cache support"
https://github.com/sh4nks/flask-caching

[2019-12-01 23:09] alexppg opened #70 "Support encrypting secrets with kms"
**Is your feature request related to a problem? Please describe.**
When using a microservice, you usually need to set passwords for a database, for example. It would be useful to be able to encrypt it for security reasons. It might support many backends, but the first one may be used with AWS kms.
**Describe the solution you'd like**
Similar to this: https://github.com/zalando/spring-cloud-config-

[2019-12-01 23:11] alexppg opened #71 "Have an config reloader endpoint"
**Is your feature request related to a problem? Please describe.**
Sometimes you have a microservice which you want to change it's configuration. You could make the k8s deployment to recreate the cluster, but that wouldn't be need if the microservice had an endpoint which reloaded the configuration by itself.

**Describe the solution you'd like**
Implement an endpoint, for example `/-/reload` that

[2019-12-08 20:23] avara1986 commented on #39
Closed, resolved in PR #74

[2019-12-08 20:23] #39 closed

[2019-12-10 13:46] alexppg opened #75 "Find a way to standarize the configuration file"
**Is your feature request related to a problem? Please describe.**
The configuration file has some quirks. With the given example:

[code]
- The `APP_NAME` and the `my-minimal-microservice` are redundant
- `APP_NAME` is expected to be in capital letters, but others don't.

**Describe the solution you'd like**
Something like:

[code]
There should something that converts the app_name to an usable na

[2019-12-18 15:44] KingDarBoja commented on #66
Hello, just curious, I was checking the provided oauth microservice and I do see you guys are using `flask-jwt`. But wouldn't be better to use other library for jwt which has better maintenance and is up-to-date like as [pyjwt](https://pyjwt.readthedocs.io/en/latest/) as example?

Cheers!

[2019-12-18 15:58] avara1986 commented on #66
Hi @KingDarBoja! Thanks for your recommendation! :+1:  We create the [oauth MS] (https://github.com/python-microservices/oauth) with flask-jwt because it works with PyJWT, but we don't saw that flask-jwt has no maintenance. If someone want to create this service could be like # 62: The metrics with prometheus in python has got libraries with flask implementation with no maintenance and we create a

[2019-12-20 18:16] KingDarBoja commented on #66
I am interested on such thing but need some time to know more about this project along with its dependencies. Is there any gitter where you guys chatting and also answer question for newcomers?

[2019-12-21 13:21] alexppg commented on #75
Ya está hecho, así que cierro x)

[2019-12-21 13:21] #75 closed

[2019-12-21 14:16] avara1986 commented on #66
No, but it's good idea :smile: See https://github.com/python-microservices/pyms/pull/80

[2020-01-21 17:51] avara1986 opened #82 "Support jsonapi"
An API returns an [marshmallow.Schema](https://marshmallow.readthedocs.io/en/stable/) object or a list of dictionaries as usually to jsonify parameter like:
[code]
Create a output:
[code]
But the standard [jsonapi](https://jsonapi.org/) say that the response MUST be like:

[code]
Create a wrapper over jsonfy to accept a SQLAlchemy paginated instance and a list of elements and create this JSON obje

[2020-01-22 17:14] avara1986 commented on #71
Created the method `Microservice.reload()` in PR #83. Next step, create the endpoint :muscle:

[2020-02-16 20:50] avara1986 commented on #71
@alexppg suggested: add a callback parameter to `Microservice.reload()` to expand the reload options :+1:

[2020-02-16 20:56] avara1986 commented on #70
Inspired by this [article](https://nitratine.net/blog/post/encryption-and-decryption-in-python/), I added a agnostic method to encrypt the configuration without vendor locking. Maybe as first step it's ok, but, could be better expand this functionality with AWS KMS and GCP KMS? Anyone knows if with a [AES](https://en.wikipedia.org/wiki/Advanced_Encryption_Standard) it's OK or need more secure meth

[2020-02-17 20:36] alexppg commented on #70
It is good for this purpose. For this approach I think it would be nice to have very clear documentation on how to handle the key, since the operator will be the responsible to deploy them to the infrastructure and make sure that is not accessible by any bad actor.

[2020-02-18 11:56] alvarolinarescabre opened #88 "Link on the py-ms doc"
Hi,

On the py-ms doc "Routing" section, it going to: https://py-ms.readthedocs.io/en/latest/installation/

[2020-02-19 07:48] alexppg opened #89 "Add a namespace to all used environment variables"
**Is your feature request related to a problem? Please describe.**
There's some environmental variables that pyms uses, like `CONFIGMAP_FILE` or `KEY_FILE`. Those are very generic names, if you see them without context, you might don't know why are they set and what are they purpose.

**Describe the solution you'd like**
I propose to add a namespace to all variables, so `KEY_FILE` would be `PYMS_K

[2020-02-19 17:07] avara1986 commented on #89
It`s a good idea :+1:

In retrospective, the last refactor of the configuration, we did some bad actions. We changed all schema and not announce it.

I propose add this change but preserve the old way and show a warning of deprecation in futures versions, what do you think?

[2020-02-20 19:26] alexppg commented on #89
I agree. They should be removed at some time, but it doesn't have to break it at the next release.
Also, a changelog should be generated on every release, with a special section with "breaking changes".

[2020-02-21 17:01] #88 closed

[2020-02-23 03:04] KingDarBoja opened #91 "GraphQL Support"
**Is your feature request related to a problem? Please describe.**
Create a service to handle GraphQL APIs, by using [flask-graphql](https://github.com/graphql-python/flask-graphql).

[2020-03-09 15:41] #67 closed

[2020-03-30 05:59] alexppg opened #106 "Don't enable services implicitly"
**Describe the bug**
A clear and concise description of what the bug is.
When you don't enable a service, it still may be loaded.
**To Reproduce**
Steps to reproduce the behavior:
Use the next config:
[code]
When receiving a request, it will return the next error:
[code]
**Expected behavior**
It should not return that error.

**Additional context**
I'm using pyms 2.4.1 version.

When disabling exp

[2020-03-30 18:15] #70 closed

[2020-03-30 19:43] #106 closed

[2020-03-30 19:43] alexppg commented on #106
Thanks!

[2020-09-19 17:09] avara1986 commented on #71
Instruction:
Create an endpoint like the (Healthcheck)[https://github.com/python-microservices/pyms/blob/master/pyms/flask/healthcheck/healthcheck.py] and call `Microservice.reload()`

[2020-09-24 15:16] avara1986 opened #155 "Publisher Subscriber support"
Not all microservices are RESTful service. A common use case is read and/or write information form a queue. A simple solution (and in most case, the best solution) to retrieve data from a queue is a serverless solution like [AWS Lambdas](https://aws.amazon.com/en/lambda/) or [Google Cloud Functions](https://cloud.google.com/functions). But, imagine that: you must have a stream of data, and a heavy

[2020-09-24 15:25] avara1986 opened #156 "FastAPI/ Support"
Update [init_app](https://github.com/python-microservices/pyms/blob/master/pyms/flask/app/create_app.py#L167) to support FastAPI

**Possible Issues:**
- Connexion or FlaskTracing will not work with this new framework, add validations to raise an IncompatibilityError
- Not confirmed: maybe some methods must be declared as async functions

[2020-09-28 17:24] avara1986 opened #161 "Documentation: Pytest"
Create documentation about use PyMS with Pytest, in example:

## conftest.py
[code]

This issue is similar to https://github.com/python-microservices/microservices-scaffold/issues/198

[2020-09-28 18:41] avara1986 opened #162 "Documentation: PyMS with pipenv"
PyMS has extra arguments. You can add PyMS in your requirements like:

[code]

Explain in the docs how to integrate with pipenv like:

[code]

[2020-09-28 19:02] avara1986 opened #163 "Documentation: Third-party libs"
PyMS use powerful libraries such as [Flask](https://github.com/pallets/flask), [Connexion](https://github.com/zalando/connexion), [Opentracing](https://github.com/opentracing/opentracing-python) but we don't explain how to use in deep this libraries. Add more links, sources and reviews of this libraries

[2020-09-28 19:16] avara1986 opened #164 "Documentation (CONTRIBUTING.md): How to install this project on Windows"

[2020-09-28 19:17] avara1986 opened #165 "Documentation (CONTRIBUTING.md): How to install this project on Mac OS X"

[2020-09-28 19:31] dev48v commented on #164
Happy to help

[2020-09-28 20:11] avara1986 commented on #164
Thank you @dev48v! ^^ Don't forget to register in https://hacktoberfest.digitalocean.com/ :+1:

[2020-09-29 13:27] dheeraj-tripathi commented on #165
@avara1986 I would love to contribute, could you please assign this to me?

[2020-09-29 13:52] avara1986 commented on #165
Thank you @dheeraj-tripathi ! ^^ Don't forget to register in https://hacktoberfest.digitalocean.com/ :+1:

[2020-09-29 16:11] avara1986 opened #166 "Increment type hints and add mypy"
Add more Python type hints and add mypy valitations. This validation could be a step in GH actions or tox

You can learn more about type hints in this [link](https://docs.python.org/3/library/typing.html)

[Mypy](https://mypy.readthedocs.io/en/stable/command_line.html) has a command line checker:

[code]

Ideally, mypy must return 0 errors, but could be a hard work because pyms create dynamic attr

[2020-09-29 17:28] avara1986 opened #168 "Documentation (CONTRIBUTING.md): How to use Pylint, flake8 and tox"
Update CONTRIBUTING.md with information about linters and tools and ways of use these:
- Pylint: link to official documentation, how can i execute the command, benefits of pylintrc
- Flake8: link to official documentation, how can i execute the command, benefits of define params in [setup.cfg](https://github.com/python-microservices/pyms/blob/master/setup.cfg#L7)
- Tox: link to official documentat

[2020-09-29 17:40] avara1986 opened #169 "config.yml generator, command"
Create a command to ask the user the configuration that he wants and generate a config.yml

Basic Flask config:
[code]

Input: do you want to use request? (Y/n) Y
[code]

Input: do you want to use swagger? (Y/n) Y
[code]

[2020-09-30 08:30] path2himanshu commented on #169
Hey @avara1986 - I want to contribute to the project. Can you please assign this issue too me?

[2020-09-30 09:49] avara1986 commented on #169
Thank you @path2himanshu ! ^^ Don't forget to register in https://hacktoberfest.digitalocean.com/ :+1:

[2020-09-30 13:41] ooigavin commented on #166
Hi @avara1986 would like to pick this one up!

[2020-09-30 13:52] avara1986 commented on #166
Thank you @ooigavin  ! ^^ Don't forget to register in https://hacktoberfest.digitalocean.com/ :+1:

[2020-10-01 10:20] ibLeDy opened #172 "Improve README wording and fix trailing whitespaces"
**Is your feature request related to a problem? Please describe.**

I would like to improve the wording of the README, for example:
- [Line 30](https://github.com/python-microservices/pyms/blob/master/README.md#L30): how use -> how _to_ use
- [Line 34](https://github.com/python-microservices/pyms/blob/master/README.md#L34): started to create microservice -> started _creating a_ microservice
- [Lin

[2020-10-01 11:16] avara1986 commented on #172
awesome issue @ibLeDy ! :heart:
Submit a PR if you like! Thanks a lot for the explanation :heart_eyes:

[2020-10-01 11:36] ibLeDy commented on #172
Thanks!

Do you want me to fix the Markdown ones too?

If the answer is yes, the `MD026` ([L96](https://github.com/python-microservices/pyms/blob/master/README.md#L96)) may be the only one that you may want to keep as it is, so unless you specify that you want it fixed too, i will omit that one.

[2020-10-01 11:51] avara1986 commented on #172
Hi, could be perfect to fix the Markdown too :smile:

About `MD026` ([L96](https://github.com/python-microservices/pyms/blob/master/README.md#L96)), it is a bug, the L96 must be a H2, not a H3

[2020-10-01 15:09] #172 closed

[2020-10-01 19:33] lcd1232 commented on #71
I'll do this

[2020-10-04 19:15] #71 closed

[2020-10-05 17:22] jabhishek87 commented on #168
can you assign it to me  can work

[2020-10-05 18:27] alexppg commented on #71
@avara1986 with the development done, is possible to execute arbitrary orders when the endpoint is fetched? Like the example we talked, if I implement a ms that uses elasticsearch for example, and I reload the configuration, I might need to recreate the connection. Could I do it right now?

[2020-10-05 20:16] avara1986 commented on #71
Hi @alexppg, I think so,

The reload method has this code:
[code]

and `create_app` method initialize Flask and `init_libs`. I suppose that your microservices initialize the configuration in `init_libs`, is it correct? If it's true, the elasticsearch connexion will be reloaded too :smile:

[2020-10-06 07:44] jabhishek87 commented on #168
@avara1986 can you describe briefly what neds to be done , i see tox already presen in [contributing.md](https://github.com/python-microservices/pyms/blob/master/CONTRIBUTING.md)

[2020-10-06 15:07] avara1986 commented on #168
@jabhishek87 i do this! thank you!

[2020-10-09 08:48] nicosalu commented on #65
Hey @avara1986  - I want to contribute. Can you please assign this issue to me?

[2020-10-09 09:05] avara1986 commented on #65
Thank you @nicosalu ! ^^ Don't forget to register in https://hacktoberfest.digitalocean.com/ :+1:

[2020-10-09 16:52] rapejim commented on #89
I think I could make this issue.

[2020-10-09 17:54] avara1986 opened #178 "Support Black"
- Check [black](https://github.com/psf/black) Formatter
- Add the config in setup.cfg, see [this link](https://black.readthedocs.io/en/stable/pyproject_toml.html)
- Update documentation (CONTRIBUTIND and Docs) with "how to use black"
- Use pre-commit, hooks... or the method that you want to run automatically Black

[2020-10-09 19:40] Agalin opened #180 "Support more parameters for Connexion"
**Is your feature request related to a problem? Please describe.**
I've recently wanted to use Connexion's feature that [validates responses](https://connexion.readthedocs.io/en/latest/response.html#response-validation) according to API schema. Then found that parameters described in `config.yml` docs are ALL that can be used and there seem to be absolutely no way of passing any additional value t

[2020-10-09 19:59] Agalin opened #181 "Support OpenTelemetry"
**Is your feature request related to a problem? Please describe.**
Would be great if there was option to use OpenTelemetry instead of OpenTracing. It seems that it can quickly become the main tracing protocol considering that it's an [official merger](https://lightstep.com/blog/brief-history-of-opentelemetry/) of OpenTracing and OpenCensus, a sandbox project of CNCF. Both Microsoft and Google are

[2020-10-09 20:07] avara1986 commented on #180
Thanks a lot @Agalin for your issue and proposal!

Could be a correct approach this solution?

Add this parameters to swagger config:  `validate_responses` and `validator_map`

[code]

and import `validate_responses` and `validator_map` like:

[code]

[code]

[2020-10-09 20:19] Agalin commented on #180
Validator map should be passed per `add_api` call if I understand docs correctly (can't check implementation atm.) but it's exactly the way I'd like to see.

[2020-10-09 20:25] avara1986 commented on #180
Sorry, you are right :+1:

[code]

[2020-10-09 20:29] Agalin commented on #180
Might as well add custom `body` and `parameter` validators - those cannot be set from the schema either and implementation would be the same.

[2020-10-09 20:45] avara1986 commented on #180
ok! do you mean multiple custom valdations? :+1:  in example....
[code]

[code]

[2020-10-09 20:54] Agalin commented on #180
Yeah. Although `body` and `parameter` are actually request validators. Those 3 can easily be placed under the same optional key in config.

[2020-10-10 11:34] avara1986 opened #182 "Support Vault"
Create a service like metrics or requests to support `vault` Vault https://www.vaultproject.io/

**How-to:**
- Read the tutorial How to [create services](https://py-ms.readthedocs.io/en/latest/tutorial_create_services/)
- Add new dependencies in [setup.py](https://github.com/python-microservices/pyms/blob/6b5bc4bf20725641a323a2f29c3a626c068a6e70/setup.py#L33)
- Create the service

**Challenge:**
T

[2020-10-10 14:40] avara1986 opened #184 "Add an example of PyMS with Metrics"
PyMS has a lot examples in [this path](https://github.com/python-microservices/pyms/tree/master/examples).

- Add new example of a microservices with metrics
- Describe how to view the metrics

[2020-10-10 14:43] avara1986 opened #185 "Support Google KMS"
PyMS supports encryptation with [AWS KMS](https://github.com/python-microservices/pyms/blob/master/pyms/cloud/aws/kms.py) and [Fernet](https://github.com/python-microservices/pyms/blob/master/pyms/crypt/fernet.py)

- Add support to [Google KMS](https://cloud.google.com/security-key-management)
- Describe in [the documentation](https://py-ms.readthedocs.io/en/latest/encrypt_decryt_configuration/) h

[2020-10-10 14:56] avara1986 opened #186 "gRPC support"
Research how to use [gRCP](https://grpc.io/docs/what-is-grpc/introduction/) in PyMS

[2020-10-11 01:34] alexppg commented on #181
We can use this issue to track the metrics and the traces or change the scope of this one to traces and create one for metrics.

In the middle-time, there's some work done for metrics, as seen above.

[2020-10-11 11:07] Agalin commented on #181
I've created this issue with specifically traces in mind so would rather see separate one for metrics (somehow didn't realize that OpenTelemetry supports metrics).

[2020-10-11 13:04] avara1986 opened #188 "ipdb configuration"
Extend `setup.cfg` with [ipdb](https://pypi.org/project/ipdb/) configuration

[2020-10-11 23:08] alexppg commented on #181
Also, we might need to join the traces and the metrics services (and the logging in the future). The auto-instrumentation for the metrics seem to be on very early stages, but there's already some work done for the requests module. Still unreleased, but I've test it and it works nicely.
What this could mean is that, since the OT api will give one method to activate both metrics and traces, it might

[2020-10-11 23:24] alexppg commented on #181
As said on the MR I would treat, for now, any integration with OT as a beta feature. So as @Agalin suggests, we could have both services at the same time.
So, we could create the telemetry service while maintaining both the metrics (with prometheus_client metrics) and traces service (with opentracing traces).
What do you thing @avara1986 ?

[2020-10-12 08:20] avara1986 commented on #181
Great discussion @alexppg @Agalin , I didn't know OpenTelemetry. As you say, if OpenTelemetry is "the future", it will be better add a service to support that, but, as @alexppg  say, if OpenTelemetry is still in beta, could be better support both options for a while

[2020-10-12 10:35] avara1986 opened #189 "Documentation: Introduction to Microservices"
PyMS is useful to build microservices with Flask. But, if someone want to contribute to PyMS, the first he needs is know how microservices work and the behavior

- Create in docs folder a new page with documentation about microservices:
  - Links to videos
  - Links to articles
- Explain what is a microservices

Could be ok create sections in different languages (english, spanish, etc)

[2020-10-12 11:49] Agalin commented on #181
Seems like a good idea especially that it would merge a lot of services into one.

[2020-10-12 12:01] Agalin opened #190 "Support registration in Consul"
**Is your feature request related to a problem? Please describe.**
Would be nice to add support for registration in Consul. It can then be used as a configuration source for Prometheus for metrics scrapping. It's possible to configure manually now but standardized service would be an useful addition.

Consul can also be used as a service discovery (so would be a possible extension of `requests` in

[2020-10-12 14:59] avara1986 commented on #190
Thanks @Agalin for your issues :smile: All your feature proposal are very interesting :+1:

[2020-10-12 17:52] #89 closed

[2020-10-13 07:03] Agalin commented on #190
I'm just jealous of Spring Initializer where you can generate an app preconfigured for so many services... This project can be something similar for python.

[2020-10-13 18:18] DiptoChakrabarty opened #192 "Possible spelling mistake"
**Describe the bug**
Spelling mistake

**To Reproduce**
Steps to reproduce the behavior:
Check tutorials.md in docs folder

**Expected behavior**
I think the sentence should be 'This section shows tutorials for advanced use of PyMS. See Examples for simple tutorials'

**Screenshots**
![Selection_080](https://user-images.githubusercontent.com/45638240/95899460-3d5e6880-0dae-11eb-92d6-411de36da251.p

[2020-10-13 18:52] #192 closed

[2020-10-14 11:51] DiptoChakrabarty commented on #66
hey can we use flask-jwt or flask-jwt-extended for this service

[2020-10-14 20:47] alexppg commented on #89
Nice, thanks @rapejim !

[2020-10-14 20:50] alexppg opened #194 "Support OpenTelemetry for Metrics"
See this issue for context. https://github.com/python-microservices/pyms/issues/181

[2020-10-14 20:55] alexppg commented on #194
Related PR. https://github.com/python-microservices/pyms/pull/187

[2020-10-14 20:58] alexppg opened #195 "Use commitizen"
It's useful to have a standard way to do commits. With commitizen it's pretty easy: https://commitizen-tools.github.io/commitizen/

[2020-10-14 20:59] alexppg commented on #181
Nice, we'll then leave this issue for traces and I'll work on the one for metrics on the other issue.

[2020-10-14 21:23] alexppg opened #196 "Outdated docstrings"
**Describe the bug**
The docstrings on the [conf.py](https://github.com/python-microservices/pyms/blob/master/pyms/config/conf.py) file are outdated. It may happen in other files.

It seems difficult to maintain the scheme of the configuration file, since the structure may change over time. Maybe the structure should be defined in only one way and then be referenced around the project. And this ca

[2020-10-16 16:34] mbcaldeiro commented on #166
Quisiera recoger esta issue

[2020-10-16 16:37] AmandaKhol commented on #189
Hi! I would like to contribute to this issue :-) Could I?

[2020-10-16 17:22] mbcaldeiro commented on #180
Te lo pido!!!

[2020-10-16 17:30] avara1986 opened #197 "Support isort"

[2020-10-16 17:44] avara1986 opened #198 "Documentation (CONTRIBUTING.md): add commit guide"
Add to contributing this link https://chris.beams.io/posts/git-commit/

[2020-10-16 19:37] alexppg commented on #198
Maybe this is superseded by this, if you like it? https://github.com/python-microservices/pyms/issues/195

[2020-10-16 21:06] alexppg commented on #71
Oh, I see. That makes sense. I don't see it documented, is it? If not, I'll create an issue.

[2020-10-16 21:24] alexppg opened #199 "Document the config's reloader endpoint"
Document the feature implemented here. https://github.com/python-microservices/pyms/issues/71

[2020-10-16 21:26] avara1986 commented on #198
No, no. Sorry, maybe i need to check and figure out commitizen. Do you can set `commitizen` as a mandatory way to commit new changes? I was thinking that is a tool to "help" when you commit anything, not a tool like black that force you to use this way of add changes

[2020-10-16 21:34] alexppg commented on #198
They do have a way to check that the commit follows the stipulated format with `cz check`. Also they have a `pre-commit`.

The way it works is that you create a configuration in the root of the project with the format you want and everybody just have to execute `git cz` and a interactive interface will appear asking questions.

It's not mandatory to use `cz` as is as long as your commit follows th

[2020-10-18 00:06] #199 closed

[2020-10-20 21:37] alexppg opened #203 "Centralize all the documentation in one repository"
It may make our lives easier to have only one documentation repository. I've seen that in a lot of places there's duplicated information, and it's very easy to forget one of those places when a change is done.
If it makes sense, it can be done after the hacktoberfest, since there's a lot of activity and it might be confusing.

[2020-10-22 19:41] PandyTheBroh commented on #197
Like reference I guess that I will use this sections of the project's official web:

- https://pycqa.github.io/isort/#installing-isort
- https://pycqa.github.io/isort/#git-hook
- https://pycqa.github.io/isort/#setuptools-integration
- https://pycqa.github.io/isort/#spread-the-word

[2020-10-23 13:18] #189 closed

[2020-10-25 21:30] #184 closed

[2020-10-27 22:51] alexppg opened #211 "Add circuit breaker support"
**Is your feature request related to a problem? Please describe.**
Circuit breaker is a key feature on distributed systems. It would be cool to have some way to support it.
Not sure if it should be a different package or maybe just integrate pyms with existing packages

**Describe the solution you'd like**
No idea.

**Describe alternatives you've considered**
There seem to be some packages, but no

[2020-10-27 23:03] alexppg opened #212 "Add service discoveries options"
**Is your feature request related to a problem? Please describe.**
Any cool microservices framework has some kind of service discovery. Spring boot has Eureka, but it also has kubernetes.

Why would you need this? To find services to attack programmatically. For example, if k8s service discovery were implemented, you could do canary deployments and configure a service to use the unstable service b

[2020-10-31 19:17] alexppg opened #217 "Add a `enabled` key on configuration of every service"
**Is your feature request related to a problem? Please describe.**
It's uncomfortable to know that a service is loaded. You have to assume that if it exists in the configuration, it's loaded, but you can't really be sure. Also, the only way to deactivate it is to delete it from the configuration.

**Describe the solution you'd like**
Add a `enabled` key on every service, that pyms uses to load (or

[2020-10-31 19:35] alexppg opened #218 "Is there a standarized way to provide default values to service's configuration?"
**Is your feature request related to a problem? Please describe.**
I see that some services have a way to define default values for it the services, but it doesn't seem to be standardized.

**Describe the solution you'd like**
We could define a way for developers to always follow the same conventions? Maybe not just for this but to add more in the future.

[2020-10-31 19:46] alexppg opened #219 "Is there a standarized way to validate configuration?"
**Is your feature request related to a problem? Please describe.**
It would be useful that before trying to start a MS, pyms checks that the configuration is using is valid. I understand that in here https://github.com/python-microservices/pyms/blob/1fb46cea82530d73d9db376d54428fea7e8ae99c/pyms/config/conf.py#L51 there's some kind of validation. But it seems on high level, it doesn't validate per

[2020-11-01 11:51] #169 closed

[2020-11-01 12:36] avara1986 commented on #217
This option already exists :smile:

https://github.com/python-microservices/pyms/blob/d4e8683e5f9f4a0a2cea6fc408e1616136381995/pyms/flask/services/driver.py#L68

[2020-11-01 15:51] avara1986 commented on #212
is this issue similar to #190 issue?

[2020-11-01 22:52] alexppg commented on #212
It is, consul can be used as service discovery. This issue goes to the generic implementation and #190 to a consul backend for this implementation, in my opinion.

[2020-11-01 23:51] alexppg commented on #217
What does defined self.enabled? I only see this: https://github.com/python-microservices/pyms/blob/aefb690659ff9a6529a3249e50ad150e3589f066/pyms/flask/services/driver.py#L51

How can you change its value?

[2020-11-02 00:27] avara1986 commented on #217
It's magic :stuck_out_tongue:

`DriverService` has this method:

https://github.com/python-microservices/pyms/blob/aefb690659ff9a6529a3249e50ad150e3589f066/pyms/flask/services/driver.py#L46

When you "call" an attribute, `DriverService` searchs in `self.config`, and `self.config` contains the key-values ​​that you've defined in your config.yaml for this service. Therefore, each key in your config.

[2020-11-02 13:36] alexppg commented on #217
I see. So if we add a `if self.service.enabled:` in all the `init_$service` methods, we would make it a de facto standard, don't we?
Do you agree with doing that?

[2020-11-02 17:38] avara1986 commented on #196
@PandyTheBroh i resolved this issue in the PR #220 moving the documentation and docstrings to other repo, is it ok?

[2020-11-02 18:20] avara1986 commented on #217
But each service has an `enabled` attribute, that inherits from `DriverService`

https://github.com/python-microservices/pyms/blob/d4e8683e5f9f4a0a2cea6fc408e1616136381995/pyms/flask/services/driver.py#L40

Or sorry if i didn't understand the proposal, what do you mean? Thanks @alexppg  :)

[2020-11-02 22:23] alexppg commented on #217
Oh, I see. So just to clarify, if I do:

[code]

The swagger service won't be loaded?

[2020-11-02 22:25] avara1986 commented on #217
yes it is :smile: the service won't be loaded :+1:

[2020-11-02 22:33] alexppg commented on #217
Nice! Then I'll just close it.

[2020-11-02 22:33] #217 closed

[2020-11-03 17:44] #196 closed

[2020-11-03 17:44] #203 closed

[2020-11-24 19:08] #178 closed

[2020-11-24 19:08] #190 closed

[2020-11-28 11:09] #197 closed

[2020-11-28 11:36] #198 closed

[2020-11-28 11:37] #165 closed

[2020-11-28 11:37] #164 closed

[2020-11-28 11:38] #162 closed

[2020-11-28 11:38] #161 closed

[2020-11-28 11:39] #163 closed

[2020-11-28 11:40] #168 closed

[2020-12-05 10:35] #180 closed

[2021-02-03 18:05] leandrohmvieira opened #224 "How do I get the database after the application is ready?"
I created an Database connection on the init_libs:

[code]
I see on the debugger that this object is stored on the app.ms.db_client

But now I don't know how to get this object from my API folder, current_app and g give me a "localproxy unbound", and I don't see anyway to get the application context or the app instance itself from elsewhere. Can I have a little bit help on this?

[2021-02-03 19:48] alexppg commented on #224
It's not available on your app class? For example:

[code]
As far as I understand, `db_client` should be available on `app.db_client`. Isn't it?

[2021-02-03 20:44] leandrohmvieira commented on #224
After some work, I was able to get through it, but I don't think this is the best solution yet.

I'm building my ms on top of the scaffold pyms project, so I want to access my db_client from the views files, so at the start, I was trying to get the db_client from the `__init__.py` and put it in a constant, so every view could access it by import the module, but looks like the application context i

[2021-02-04 08:25] avara1986 commented on #224
Hi @leandrohmvieira The Flask instance is in `self.application`. If you want to initialize a lib like a tipical flask app, you can create
`db_client` in `self.application` like this:
[code]
By this way, you could find db_client in `app`

There is an other example:
https://github.com/python-microservices/microservices-scaffold/blob/master/project/app.py#L31

I hope this help you :smile:

[2021-02-04 17:52] leandrohmvieira commented on #224
Thank you for the help guys, my boss decided to switch to FastAPI after all, sigh

[2021-02-04 17:52] #224 closed

[2021-02-12 22:54] alexppg commented on #219
@avara1986 Hey, would it be interesting this feature using https://github.com/keleshev/schema? It seems pretty interesting.

[2021-02-13 22:42] alexppg commented on #219
Also, not sure if related to this, but I think there should be a general way to set some sane defaults for all modules.

[2021-02-23 16:12] alexppg opened #227 "Metrics are not multiprocess"
**Describe the bug**
Is not a bug per se, since we don't have to change anything in pyms to make it work, what https://github.com/python-microservices/pyms/pull/179 did was ok. The problem is that it's not enough.

The problem can be reproduced using pyms with gunicorn with at least two workers and do a lot of http requests to the metrics endpoint. You'll see that each response has different value

[2021-03-19 01:05] jeffny2015 opened #228 "Could we add Google Cloud KMS encryption"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-19 10:38] alexppg commented on #228
Where do you see it? In the docs it only talks about AWS's KMS, as far as I can see: https://python-microservices.github.io/encrypt_decryt_configuration/#2-encrypt-with-kms

[2021-03-19 18:31] jeffny2015 commented on #228
![image](https://user-images.githubusercontent.com/22873717/111827009-ff122b80-88ae-11eb-8331-b4c3d6582601.png)

[2021-03-19 18:32] jeffny2015 commented on #228
[code]

[2021-03-19 19:00] jeffny2015 commented on #228
i mean, could we add it ?

[2021-03-21 15:24] avara1986 commented on #228
We add this paragraph as recommendations and best practices to store configuration. In the nexts blocks describe the implementations that exists in PyMS. On the other hand, it could be confusing. We update this section, thanks @jeffny2015 for your contribution :)

[2021-03-21 20:38] alexppg commented on #228
My bad, I didn't see it.

[2021-03-25 01:06] Svtter commented on #212
In my opinion, for a cool microservices framework, the service discovery should be list at document firstly.

![image](https://user-images.githubusercontent.com/5856931/112403329-2783a500-8d49-11eb-8224-035abcca2dea.png)

I spent about 20 minutes to find this chapter, it's kind of inconvenient.

[2021-03-28 18:17] #228 closed

[2021-06-17 06:31] chetans4 opened #233 "Not able to start microservice_service_discovery_consul : main.py"
**Not able to start microservice_service_discovery_consul : main.py**
I have setup consule app on my windows system. and wen ever I try to run main.py it always give bellow error on startup. Kindle help what I am missing?

`Traceback (most recent call last):
  File "C:\Users\Lenovo\Desktop\Chetan_Code\py-micro\mirco_setup\service_consul\main.py", line 6, in <module>
    app = ms.create_app()
  Fil

[2021-06-21 09:48] alexppg commented on #233
It would seem that wherever that is pointing the app, the consul is not there. Could  the URL be pointing somewhere else?
If not, please add you code to further help you.

[2021-06-22 10:12] chetans4 commented on #233
Hi @alexppg, Thank you for suggestion, I checked there was some problem with consul. After rectifying that app is up and running.

[2021-06-22 10:12] #233 closed

[2021-07-03 14:21] Ileriayo opened #234 "ModuleNotFoundError: No module named 'flask._compat' when trying to run server"
**Describe the bug**
I get a "ModuleNotFoundError: No module named 'flask._compat'" when I try to run a new pyms app.

**To Reproduce**
Steps to reproduce the behavior:
(Simply follow the documentation)
1. Scaffold a new app with 'pyms startproject' and choose the default options.
    * pyms startproject

2. Navigate into the new project and install dependencies using virtualenv
    * virtualenv v

[2021-07-03 20:53] sorXCode commented on #234
Update the `requirements.txt` to use any Flask version < 2...

_E.g_ add `Flask==1.1.4` to the top of the `requirements.txt` file

[2021-07-03 23:38] Ileriayo commented on #234
Worked fine, thanks Victor!

[2021-07-03 23:38] #234 closed

[2021-07-04 17:56] DiptoChakrabarty commented on #66
Hey can I work on this , I think we can use flask jwt extended which is relatively much better maintained and up-to date compared  to flask-jwt . I would like to send the PR in the oauth micro service repository

[2021-07-05 07:41] avara1986 commented on #66
It's a great Idea @DiptoChakrabarty :) Flask JWT Extended is more mantained than Flask JWT! :+1:

[2021-07-05 08:58] avara1986 opened #235 "Support Flask 2"

[2021-07-05 08:59] avara1986 commented on #234
Created a Issue to fix that, thanks  @sorXCode @Ileriayo !

https://github.com/python-microservices/pyms/issues/235

[2021-08-13 20:15] Agalin commented on #235
Considering #230 is merged could we get a new release for Flask 2?

[2021-09-03 10:02] nikeananth opened #236 "werkzeug<2.0,>=1.0"
werkzeug<2.0,>=1.0 (from connexion[swagger-ui]==2.9.0->py-ms[all]==2.7.0->-r C:\Users\Lenovo\AppData\Local\Temp\pipenvw30yzk_irequirements\pipenv-nf_pymj2-constraints.txt (line 7))
  werkzeug>=2.0 (from flask==2.0.1->flask-script==2.0.6->-r C:\Users\Lenovo\AppData\Local\Temp\pipenvw30yzk_irequirements\pipenv-nf_pymj2-constraints.txt (line 4))

when you run pip install we get this issue. Remove exi

[2021-09-23 08:54] #236 closed

[2022-01-09 05:54] ExpandingDev commented on #212
I would like to tack on AWS App Mesh to the list of service discovery methods. Let me know if I should open up a separate issue for it.

[2022-10-20 23:40] stevem995 opened #241 "KeyError: 'WERKZEUG_SERVER_FD'"
**Describe the bug**
main.py fails with error:
python main.py
Traceback (most recent call last):
  File "/Users/a369505/gitwkspace/US1050985/pyms/src/main.py", line 15, in <module>
    app.run()
  File "/Users/a369505/.pyenv/versions/3.9.9/lib/python3.9/site-packages/flask/app.py", line 1188, in run
    run_simple(t.cast(str, host), port, self, **options)
  File "/Users/a369505/.pyenv/versions/3.9

[2022-11-19 04:14] NguyenDangBinh opened #242 "KeyError: 'APP_NAME', formatter.add_service_name(self.application.config["APP_NAME"])"
**Describe the bug**
from pyms.flask.app import Microservice
ms = Microservice()
app = ms.create_app()
if __name__ == '__main__':
    app.run()

And I had this errors. Can I help me?
Traceback (most recent call last):
  File "main.py", line 7, in <module>
    app = ms.create_app()
  File "C:\Users\DELL\AppData\Local\Programs\Python\Python36\lib\site-packages\pyms\flask\app\create_app.py", line 164

[2022-11-21 03:04] NguyenDangBinh commented on #242
dear all,
I update the error below.
    ms = Microservice()
  File "C:\Users\DELL\AppData\Local\Programs\Python\Python36\lib\site-packages\pyms\flask\app\utils.py", line 16, in __call__
    cls._instances[cls] = super(SingletonMeta, cls).__call__(*args, **kwargs)
  File "C:\Users\DELL\AppData\Local\Programs\Python\Python36\lib\site-packages\pyms\flask\app\create_app.py", line 47, in __init__
    v